* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:focus {
  outline: none;
}

body {
  background-color: #0c0c0c;
  position: relative;
}

body .hero {
  height: 100vh;
  position: relative;
  margin-bottom: 5em;
}

body .hero .bg {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

body .hero .bg-img-mini {
  position: absolute;
  width: 55vh;
  height: 55vh;
  right: 50%;
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
}

body .hero:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.2);
  z-index: 10;
}

body nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 6em;
  background-color: #0c0c0c;
  width: 100%;
  z-index: 9999;
}

body nav .logo {
  font-size: 1.5rem;
  text-decoration: none;
  padding-right: 2em;
  color: white;
}

body nav .nav-items {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body nav .nav-items li {
  padding: 0 2em;
}

body nav .nav-items li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  font-weight: 300;
}

body nav .nav-items li a:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #D4AF37;
  -webkit-transition: width .5s;
  transition: width .5s;
}

body nav .nav-items li a:hover:after {
  width: 100%;
}

body .main-container {
  color: white;
  width: auto;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6em;
  text-align: left;
  z-index: 999;
  overflow: hidden;
}

body .main-container h1 {
  font-size: 7rem;
  font-weight: 600;
  line-height: 110px;
  padding-bottom: 2rem;
}

body .main-container p {
  font-size: 1.5rem;
  width: 70%;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.67);
  padding-bottom: 2rem;
}

body .main-container .circles {
  position: absolute;
  top: 25vh;
  left: 5vh;
}

body .main-container .cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #E9C3B6;
  padding: .5em 1em;
  border: 2px solid #E9C3B6;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .main-container .cta:hover {
  background-color: #0c0c0c;
  color: #E9C3B6;
}

body .bg-logo {
  position: absolute;
  bottom: 0;
  font-size: 14rem;
  line-height: 100px;
  color: rgba(255, 255, 255, 0.02);
  pointer-events: none;
}

body .main {
  position: relative;
}

body .main .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 5em 6em;
}

body .main .content-container img {
  height: 70vh;
}

body .main .content-container .text-container {
  padding-left: 5rem;
}

body .main .content-container .text-container:nth-child(1) {
  padding-left: 0;
  padding-right: 5rem;
}

body .main .content-container .text-container h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

body .main .content-container .text-container p {
  font-size: 1.5rem;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.67);
  padding-bottom: 2rem;
}

body .main .content-container .text-container .cta-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .content-container .text-container .cta-container img {
  width: 100px;
  height: 100%;
  padding-left: 1em;
}

body .main .content-container .text-container .cta-container a {
  font-size: 1.5rem;
  display: inline-block;
  color: #D4AF37;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
}

body .main .bg-gallery-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 50%;
  z-index: -1;
}

body .main .bg-gallery-container img {
  width: 300px;
}
/*# sourceMappingURL=style.css.map */